# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=autofolio_dev

# pgAdmin Credentials
PGADMIN_DEFAULT_EMAIL=admin@autofolio.com
PGADMIN_DEFAULT_PASSWORD=admin

# Security & CORS
FRONTEND_URL=http://localhost:5173
JWT_SECRET=sua_chave_secreta_aqui_com_pelo_menos_32_caracteres
